<%= form.fields_for :attendance_value do |attendance_value_form| %>
  <span class="field">
    <%= attendance_value_form.text_field :status %>
    <%= attendance_value_form.select "status", options_for_select(["Present","Tardy","Unexcused Absence"]), { :include_blank => true } %>
  </span>
<% end %>
