<%= form.fields_for :clients, @new_clients do |client_form| %>
  <div class="field">
    <%= client_form.label :name %>
    <%= client_form.text_field :name %>
    <%= render :partial => "attendance_sheets/attendance_values",
               :locals  => { :form => client_form } %>
  </div>
<% end %>
