<h1 class="ui-widget-header" style="padding:10px;">Attendance App</h1>
<div class="ui-widget ui-widget-content" style="padding: 10px;">
<p><%= link_to "Clients", clients_path %></p>
<p><%= link_to "New Attendance Sheet", new_sheet_path %></p>
<p><%= link_to "Attendance Sheets", sheets_path %></p>
</div>