<h1>Attendance App</h1>
<p><%= link_to "Attendance Sheets", attendance_sheets_path %></p>
<p><%= link_to "Clients", clients_path %></p>
<p><%= link_to "Attendance Values", attendance_values_path %></p>
