<% if !notice.nil? then %>
<p id="notice"><%= notice %></p>
<% end %>

<table class="ui-widget ui-widget-content">
  <tr class="ui-widget-header">
    <td>Name</td>
  </tr>
  <tr>
    <td><%= @school.name %></td>
  </tr>
</table>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
